.wrap {
    max-width: 128rem;
    margin: 0 auto;
    padding: 0 2rem;
}

#header {
    min-height: 12rem;
}

.page_header {
    background: #fff;
    padding: 2rem 0 3rem;
}

.page_header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page_left .sub_title {
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: -0.02em;
    color: #228B18;
}

.page_left .page_title {
    font-size: 4.8rem;
    font-weight: 700;
}

.page_left .page_desc {
    font-size: 2.4rem;
    font-weight: 600;
    color: #222122
}

.page_right {
    display: flex;
    align-items: center;
    display: flex;
    gap: 0.6rem;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 600;
    color: #222122;
}

.page_right .home_icon {
    font-size: 1.6rem;
}

.page_right .slash {
    color: #999;
}


.common_banner_wrap {
    position: relative;
    width: 100%;
    height: 26rem;
    background-image: url('../images/sub/sitemap/visual_img.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 2rem;
}

.common_banner_wrap .txt_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.common_banner_wrap .banner_title {
    font-size: 3.4rem;
    font-weight: 700;
    line-height: 4.4rem;
}

.common_banner_wrap .banner_txt {
    margin-top: 1.6rem;
    font-size: 1.6rem;
    font-weight: 600;
}

.mo_hidden {
    display: block;
}

.pc_hidden {
    display: none;
}

.category_tab_wrap {
    width: 100%;
    background: transparent;

}

.category_tab {
    max-width: 128rem;
    margin: 0 auto;
    display: flex;
    gap: 2.8rem;
    justify-content: space-between;
}

.category_tab button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 25rem;
    height: 6rem;
    padding: 1.6rem 2.6rem;
    gap: 1.4rem;
    border-radius: 1.6rem;
    border: 1px solid #E5E5E5;
    background: #F8F8F8;
    font-size: 1.6rem;
    flex: 1;
}

.category_tab button img {
    width: 2rem;
    height: 2rem;
}

.category_tab button .btn_text {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #222122;
}

.sitemap_area {
    padding: 4rem 0 8rem;
    border-top: 1px solid #EFEFEF;
    margin-top: 3rem;
    margin-bottom: 10rem;
    padding-top: 4rem;
}

.sitemap_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
}

.col h3 {
    font-weight: 700;
    font-size: 2rem;
    line-height: 100%;
    margin-bottom: 2rem;
    color: #222122;
}

.col ul li {
    font-weight: 600;
    font-size: 1.6rem;
    color: #222122;
    line-height: 3rem;
}

.col ul li.sub_item {
    font-weight: 500;
    font-style: Medium;
    font-size: 1.6rem;
    color: #767676;
}

.sub_group {
    margin-bottom: 2.4rem;
}

.sub_group h4 {
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 0.8rem;
}

#footer {
    width: 100vw;
    margin-left: calc(50% - 50vw);
}

#footer .footer_link ul li:first-child a {
    color: #228B18 !important;
}


/*1024px 이하 (태블릿)*/
@media (max-width: 1024px) {

    .inner {
        max-width: 100%;
        padding: 0 1.6rem;
    }

    .category_tab {
        display: flex;
        flex-wrap: wrap;
    }

    .category_tab button {
        min-width: 45%;
        height: 5.6rem;
        font-size: 1.5rem;
        padding: 1.4rem 2rem;
    }

    .sitemap_grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 8rem 4rem;
        align-items: start;

    }

    .page_left .sub_title {
        font-size: 1.6rem;
        font-weight: 600;
        letter-spacing: -0.02em;
        color: #228B18;
    }

    .page_left .page_title {
        font-size: 4.8rem;
        font-weight: 700;
    }

    .page_left .page_desc {
        font-size: 2.4rem;
        font-weight: 600;
    }

    .page_right {
        display: flex;
        gap: 0.6rem;
        align-items: center;
        font-size: 1.4rem;
        font-weight: 600;
    }

    .page_right img {
        width: 1.6rem;
        height: 1.6rem;
    }

    .common_banner_wrap {
        margin-bottom: -2.9rem;
        height: 0;
        /* 고정 높이 제거 */
        padding-top: 28%;
    }

    .category_tab_wrap {
        margin-top: 0;
        padding-top: 1rem;
    }

    .col h3 {
        margin-bottom: 1.2rem;
        font-size: 1.8rem;
    }

    .col ul li {
        font-size: 1.5rem;
        margin-bottom: 0.8rem;
    }

    .sub_group {
        margin-bottom: 2rem;
    }

    .sub_group h4 {
        font-size: 1.5rem;
        margin-bottom: 0.6rem;
    }

}

/*  768px 이하 (모바일) */
@media (max-width: 768px) {
    .common_banner_wrap {
        background-image: url('../images/sub/sitemap/visual_img_mo.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .page_header {
        padding: 3rem 0 2rem;
        margin-top: 10rem;
    }

    .page_header .inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 0;
    }

    .page_left .sub_title {
        font-size: 1.4rem;
    }

    .page_left {
        text-align: center;
    }

    .page_left .sub_title,
    .page_left .page_title,
    .page_left .page_desc {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .page_left .page_title {
        font-size: 3.6rem;
        word-break: keep-all;
    }

    .page_left .page_desc {
        font-size: 1.8rem;
    }

    .page_right {
        display: none;
    }

    .mo_hidden {
        display: none;
    }

    .pc_hidden {
        display: block;
    }

    .category_tab_wrap {
        padding: 0 1.6rem;
    }

    .category_tab {
        flex-direction: column;
        padding: 0;
        gap: 1rem;
    }

    .category_tab button {
        width: 100%;
        height: 5.2rem;
        min-width: 100%;
        font-size: 1.4rem;
        padding: 1.2rem 1.8rem;
    }

    .sitemap_grid {
        grid-template-columns: 1fr;
        gap: 5rem;
        padding: 0 1.6rem;
    }

    .col h3 {
        font-size: 1.8rem;
        padding-left: 0;
        margin-bottom: 1.6rem;
    }

    .col ul {
        width: 100vw;
        margin-left: calc(-50vw + 50%);
        padding: 2.4rem 3.5rem;
        background: #F8F8F8;
        box-sizing: border-box;
    }

    .col ul li {
        font-size: 1.5rem;
        margin-bottom: 1.8rem;
    }

    .col ul li:last-child {
        margin-bottom: 0;
    }

    .wrap,
    .container,
    .inner {
        overflow: visible !important;
    }

    .sitemap_area {
        padding: 4rem 1.6rem 8rem;
    }

    .sitemap_area .inner {
        padding: 0 !important;
    }

    /* 대응사업 영역 스타일 */
    .sitemap_grid .col:nth-child(2) h3 {
        padding-left: 0;
        margin-bottom: 2rem;
    }

    .sitemap_grid .col:nth-child(2) .sub_group_wrapper {
        width: 100vw;
        margin-left: calc(-50vw + 50%);
        padding: 2.4rem 3.5rem;
        background: #F8F8F8;
        box-sizing: border-box;
    }

    .sitemap_grid .col:nth-child(2) .sub_group {
        margin-bottom: 2.4rem;
    }

    .sitemap_grid .col:nth-child(2) .sub_group h4 {
        font-size: 1.6rem;
        font-weight: 700;
        margin-bottom: 1.2rem;
        color: #222122;
        padding: 0;
    }

    .sitemap_grid .col:nth-child(2) .sub_group ul {
        padding: 0;
        margin: 0;
        background: transparent;
        width: 100%;
    }

    .sitemap_grid .col:nth-child(2) .sub_group ul li {
        font-size: 1.5rem;
        font-weight: 500;
        color: #767676;
        margin-bottom: 1.4rem;
    }

    .sitemap_grid .col:nth-child(2) .sub_group ul li:last-child {
        margin-bottom: 0;
    }

    .sitemap_grid .col:nth-child(2) .sub_group:nth-child(1) {
        padding-bottom: 2.4rem;
        position: relative;
    }

    .sitemap_grid .col:nth-child(2) .sub_group:nth-child(1)::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: -3.5rem;
        right: -3.5rem;
        height: 1px;
        background-color: #C7C7C7;
    }

    .sitemap_grid .col:nth-child(2) .sub_group:nth-child(2) {
        padding-bottom: 2.4rem;
        position: relative;
    }

    .sitemap_grid .col:nth-child(2) .sub_group:nth-child(2)::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: -3.5rem;
        right: -3.5rem;
        height: 1px;
        background-color: #C7C7C7;
    }

    .sitemap_grid .col:nth-child(2) .sub_group:nth-child(3) {
        margin-bottom: 0;
    }
}