@use "./variables" as *;

.container {
  /* 밥상의 탄소발자국, 농산물 수입과 탄소 */
  &#carbonFootprintPage,
  &#carbonAgriculturalPage {
    margin-top: 5.7rem;
    padding-top: 11.4rem;
    color: #222122;
    line-height: normal;
    .carbon_enlarge_wrap {
      padding-bottom: 10rem;
      .content_wrap {
        .ic_box {
          width: 10.2rem;
          margin: 0 auto 4.8rem;
          img {
            width: 100%;
          }
        }
        .enlarge_tit {
          font-size: 3.4rem;
          font-weight: $bold;
          line-height: 4.4rem;
          text-align: center;
          word-break: keep-all;
        }
        .enlarge_desc_box {
          display: flex;
          gap: 1.2rem;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          max-width: 100%;
          width: max-content;
          padding: 1.7rem 2rem;
          margin: 2.4rem auto 0;
          background-color: #F4F4F4;
          border-radius: 2rem;
          word-break: keep-all;
          text-align: center;
          &::before {
            flex-shrink: 0;
            content: '';
            display: block;
            width: 0.3rem;
            height: 1.2rem;
            background: url(../images/sub/carbonStory/ic_exclamation.svg) no-repeat center/cover;
          }
          .enlarge_desc {
            font-size: 1.6rem;
            font-weight: $medium;
            color: #767676;
            strong {
              font-weight: $bold;
            }
          }
        }
        .btn_enlarge {
          display: flex;
          gap: 0.6rem;
          align-items: center;
          width: max-content;
          height: 5.4rem;
          margin: 5.6rem auto 0;
          padding: 0 2rem;
          background-color: #2A2A2A;
          border-radius: 1.6rem;
          font-size: 1.6rem;
          font-weight: $bold;
          color: $white;
          &::before {
            content: '';
            display: block;
            width: 2rem;
            height: 2rem;
            background: url(../images/sub/carbonStory/ic_enlarge.svg) no-repeat center/cover;
          }
        }
      }
    }

    @media (max-width: 768px) {
      margin-top: 4.2rem;
      padding-top: 6.6rem;
      .carbon_enlarge_wrap {
        padding-bottom: 7rem;
        .content_wrap {
          .ic_box {
            overflow: hidden;
            width: 6.5rem;
            margin-bottom: 2.4rem;
            border-radius: 2rem;
          }
          .enlarge_tit {
            font-size: 2.4rem;
            line-height: 3.2rem;
          }
          .enlarge_desc_box {
            flex-direction: column;
            width: 100%;
            margin-top: 2.7rem;
            padding: 2rem;
            .enlarge_desc {
              line-height: 2.3rem;
            }
          }
          .btn_enlarge {
            margin-top: 3.2rem;
          }
        }
      }
    }
  }

  /* 지구를 지키는 농업 */
  &#protectEarthPage {
    margin-top: 5.7rem;
    padding-top: 11.4rem;
    color: #222122;
    line-height: normal;
    .protect_earth_wrap {
      padding-bottom: 13.2rem;
      .content_wrap {
        display: flex;
        gap: 2rem;
        justify-content: space-between;
        h3 {
          flex-shrink: 0;
          font-size: 3.4rem;
          font-weight: $bold;
          line-height: 4.4rem;
          word-break: keep-all;
        }
        .txt_box {
          flex: 1;
          max-width: 56.5rem;
          margin-right: 4.5rem;
          .txt {
            font-size: 1.6rem;
            font-weight: $medium;
            line-height: 2.3rem;
            word-break: keep-all;
          }
          .channel_list {
            display: flex;
            gap: 2rem;
            align-items: center;
            flex-wrap: wrap;
            margin-top: 3rem;
            .btn_channel {
              overflow: hidden;
              display: flex;
              gap: 0.6rem;
              align-items: center;
              height: 5.4rem;
              padding: 0 2rem;
              background-color: #2A2A2A;
              border-radius: 1.6rem;
              font-size: 1.6rem;
              font-weight: $bold;
              color: $white;
              &::after {
                content: '';
                display: block;
                width: 2rem;
                height: 2rem;
                background: url(../images/sub/carbonStory/ic_arrow.svg) no-repeat center/cover;
              }
            }
          }
        }
      }
    }
    .material_list_wrap {
      padding-bottom: 10rem;
      .content_wrap {
        .tab_wrap {
          position: relative;
          padding-top: 5rem;
          border-top: 0.1rem solid #ECECEC;
          .tab_btn_wrap {
            display: flex;
            gap: 3rem;
            align-items: center;
            position: absolute;
            top: 5.8rem;
            right: 0;
            .btn_tab_material {
              display: block;
              font-size: 2rem;
              font-weight: $bold;
              color: #A4A4A4;
              &.active {
                color: #228B18;
              }
            }
          }
          .tab_contents {
            .tab_cont {
              display: none;
              &.active {
                display: block;
              }
              .tab_tit {
                display: flex;
                gap: 1.4rem;
                align-items: center;
                margin-bottom: 3.2rem;
                font-size: 3.4rem;
                font-weight: $bold;
                &::before {
                  content: '';
                  display: block;
                  width: 3.6rem;
                  height: 3.6rem;
                  background: url(../images/sub/carbonStory/protect_ic.png) no-repeat center/cover;
                }
              }
              .material_list {
                display: flex;
                gap: 8rem 2rem;
                flex-wrap: wrap;
                li {
                  width: calc(50% - 1rem);
                  .link_material {
                    display: flex;
                    gap: 2rem;
                    flex-direction: column;
                    width: 100%;
                    .img_wrap {
                      overflow: hidden;
                      position: relative;
                      width: 100%;
                      border-radius: 2rem;
                      aspect-ratio: 590/330;
                      .txt_box {
                        display: flex;
                        gap: 1.4rem;
                        flex-direction: column;
                        position: absolute;
                        top: 3rem;
                        left: 3rem;
                        color: $white;
                        .sort {
                          display: flex;
                          align-items: center;
                          width: max-content;
                          height: 3.8rem;
                          padding: 0 1.6rem;
                          background-color: rgba($color: $black, $alpha: 0.15);
                          border-radius: 3rem;
                          font-size: 1.6rem;
                          font-weight: $semiBold;
                          color: $white;
                        }
                        .material_tit {
                          font-size: 2.4rem;
                          font-weight: $bold;
                          line-height: 3.3rem;
                          word-break: keep-all;
                        }
                      }
                      img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                      }
                    }
                    .btn_material {
                      display: flex;
                      gap: 0.6rem;
                      align-items: center;
                      width: max-content;
                      height: 5.4rem;
                      margin: 0 auto;
                      padding: 0 2rem;
                      background-color: #2A2A2A;
                      border-radius: 1.6rem;
                      font-size: 1.6rem;
                      font-weight: $semiBold;
                      color: $white;
                      &::after {
                        content: '';
                        display: block;
                        width: 2rem;
                        height: 2rem;
                        background: url(../images/sub/carbonStory/ic_arrow_green.svg) no-repeat center/cover;
                      }
                    }
                    &.link_download {
                      .btn_material {
                        &::after {
                          transform: rotate(90deg);
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    @media (max-width: 1024px) {
      .protect_earth_wrap {
        .content_wrap {
          flex-direction: column;
          .txt_box {
            max-width: none;
            margin-right: 0;
          }
        }
      }
      .material_list_wrap {
        .content_wrap {
          .tab_wrap {
            .tab_btn_wrap {
              overflow-x: auto;
              top: 10.6rem;
              left: 0;
              .btn_tab_material {
                flex-shrink: 0;
              }
            }
            .tab_contents {
              .tab_cont {
                .tab_tit {
                  margin-bottom: 7.2rem;
                }
                .material_list {
                  gap: 4rem;
                  flex-direction: column;
                  li {
                    width: 100%;
                  }
                }
              }
            }
          }
        }
      }
    }

    @media (max-width: 768px) {
      margin-top: 4.2rem;
      padding-top: 6.6rem;
      .protect_earth_wrap {
        padding-bottom: 5rem;
        .content_wrap {
          h3 {
            font-size: 2.4rem;
            line-height: 3.2rem;
          }
          .txt_box {
            .channel_list {
              gap: 0.8rem;
              flex-direction: column;
              margin-top: 3.2rem;
              .btn_channel {
                justify-content: space-between;
                width: 100%;
              }
            }
          }
        }
      }
      .material_list_wrap {
        .content_wrap {
          .tab_wrap {
            .tab_btn_wrap {
              gap: 2rem;
              width: calc(100% + 4rem);
              margin-left: -2rem;
              padding: 0 2rem;
              &::-webkit-scrollbar {
                display: none;
              }
              .btn_tab_material {
                font-size: 1.6rem;
              }
            }
            .tab_contents {
              .tab_cont {
                .tab_tit {
                  gap: 1rem;
                  margin-bottom: 6rem;
                  font-size: 2.4rem;
                }
                .material_list {
                  gap: 2rem;
                  li {
                    .link_material {
                      position: relative;
                      padding-bottom: 5.6rem;
                      .img_wrap {
                        min-height: 21.7rem;
                        border-radius: 2rem 2rem 0 0;
                        .txt_box {
                          top: 1.6rem;
                          left: 1.6rem;
                          .sort {
                            height: 3rem;
                            font-size: 1.4rem;
                          }
                          .material_tit {
                            font-size: 2.2rem;
                            line-height: 3rem;
                          }
                        }
                      }
                      .btn_material {
                        justify-content: space-between;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 100%;
                        height: 5.6rem;
                        border-radius: 0 0 1.4rem 1.4rem;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
